* {
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
}
h1 {
    text-align: left;
    text-decoration: crimson underline;
}

li {
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
}

button {
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

.hidden {
  display: none;
}

.in-add-form {
  display: inline;
  padding: 10px;
  font-size: 16px;
  font-family: 'Shadows Into Light';
  color: white;
}

.new-bookmark {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.filter-select {
  padding: 15px 15px;
  margin-left: 30px;
  background: crimson;
  font-size: 18px;
  font-family: 'Shadows Into Light';
  color: white;
  border-radius: 5%;
  
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  border: none;
}

input {
  border: none;
  border-bottom: solid gray 1px;
}

#form-button {
  display: inline-block;
  padding: 15px 15px;
}

.fa-star::before {
  color: gold;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}
